.main-background-color {
  background-color: #253242   
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #253242 !important;
}
.slider-size {
  width: 600px;
  height: 800px;
  overflow: hidden; /* Verhindert, dass der Inhalt unten abgeschnitten wird */
  border-radius: 20px; /* Runden der Ecken des Containers */
}
/* Bildanpassung für kleinere Bildschirme */
@media (max-width: 768px) {
  .slider-size {
    width: 100%; /* passt sich der Bildschirmbreite an */
    height: auto; /* passt die Höhe proportional an */
  }
}
.swiper-slide img, .swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* skaliert das Bild, um den verfügbaren Platz zu nutzen */
  border-radius: 20px; /* rundet die Ecken für ein einheitliches Aussehen */
}

#successMessage {
  animation: fadeInOut 4s ease-in-out;
}
@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}

/* Die Höhe des Country-Feldes auf 50px setzen. Wurde nicht auf jedem Gerät gleich gross angezeigt */
.h-50px {
  height: 50px;
}